<br>
<br>

<h3>Note Entry</h3>
<hr>
<br>
Subject: <%= @note.subject_name %>
<br>
Date: <%= @note.date %>
<br>
Note: <%= @note.note_entry %>
<a href="/notes/<%= @note.id%>/edit">Edit</a>

<form action="/notes/<%= @note.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Note">
</form>